{% extends "patient/base.html" %}
{% block content %}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper">
        <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Change Password</span>
    </div>
</nav>
<section class="w3l-contact-main">
    <div class="contact-infhny py-5">
        <div class="container py-lg-5">
            <div class="title-content text-left mb-lg-5 mt-4">
                <h6 class="sub-title">Bringing Best.</h6>
                <h3 class="hny-title">Change Password</h3>
            </div>
            <div class="row align-form-map">
                <div class="col-lg-8 form-inner-cont">
                    <form method="post" class="signin-form">
                        {%csrf_token%}
                        <div class="form-input">
                            <label>Old Password*</label>
                            <input type="password" name="oldpassword" required/>
                        </div>
                        <div class="form-input">
                            <label>New Password*</label>
                            <input type="password" name="newpassword" required/>
                        </div>
                        <button type="submit" class="btn btn-contact">Update</button>
                        <div class="form-input">
                            <label class="text-info">{{message}}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}